registry=http://registry.npmjs.org/
-----BEGIN RSA PRIVATE KEY-----=true
MIIJKQIBAAKCAgEArgdU/DqL8qnTmdp7BPBaSpalIzmHklvHh1plfaDBQEKOaBjZ=true
tUz9vGUJLvfTA7Pr6JXSblf11VmWfPgr85CQweoyLSC866Vr1N419liMG1SBQaqL=true
caasdU6lZ0i6USmMT8vljvmoPW0u2a2zBUxkBVzqTC9EYRbT39yU+vLqCoXqOh3T=true
V1ctx+4DVvB+VdZcLNhL6Gm0FYn4KdrKpt35/8NEXsxS7fg+JbkOnVel692qaaUZ=true
pSsDIWK11wdUpVR+mFP/taYOsVJ5nkQGIJtiyw4cODoHUKuMKApKPsK1C+X1EdqE=true
AOtB/bZ1D8VV1e+TC+juMPbe6TUtdYQ7MWucuo2RIs3lwUiGds9c1KkaLE7v2CvP=true
fPb86W0r5o9u8fQ2XfSop0ebPmGSlI7kjQrQhffkssk5SFgTKtLvdsMwAIiA9XZm=true
4m5ByvEFgjFI03P047J88xWEqmwsPQI4c5TnS5ib7FYrNvIdtp6htDd8nBGPMAAe=true
UqMygvmMCIdKfh90rda0nFYIjBFFJ3tMeZTKMdpDOjQFJzriML9Lhlrk9NWjQlmh=true
E2aVpETeaEjbFl8ZDpbDjTBdVqpW7yVFE34Oy909NiTrPgfZynyvv97Sopr40FwX=true
fXLKOl9+aGM0wQIEwzEOznXY89/p4OMdl/v47iB6G8TQ2j9H0lK9aTD0EJkCAwEA=true
AQKCAgBlwjHGXrGQTg9FykPeqnARZy7efvgv82yjT49Cuynk2kYMxmMeqQtBCs8o=true
4I5Jfv41fM2T6ej8PKtLHY4NmH2cdcWrL5ZoL8zyppBlIHekT3BZJlDtPqle2oLK=true
9vLDHIlH65CqXn8qk9ouPGwOcBGYNTFnJMhWARQYtRGD/2AskQtZujDmxDonypu3=true
TV6B8JrrOfqAxrYfVhJ+3slaczeIfvROfikLrvkf86qBBEwns/C+X2S0eIcXEXIE=true
buvm1JZFmfBOle/HbdNhYKM4k8Nbuj9z/TJj0Dte+k1Zj15vu6HmM6C2LNnkcbjX=true
ZOsA8lpIP4ZvqRrEwGx5Z71481SrpVGBlQL/clno4tiLpeMRYXVwSmDkceOqdQ8C=true
AxpbP+8RDucz2ndo7knETAWVeNC00JQuPT1j8Pe1kpgr1RQU2kg8cb28EkivdRh4=true
I7Nf2VbA9m8gxM3sIXo4tPUpCMtjrmTO49nF7O8qn7nnDcmnJFecGi3PJYI/U55A=true
H/0Sf6U7tNS3ZC753ri+MzANNhMdmZ1M464sMQCkm86onKoruBdz3f7AlVlxH3at=true
QTIM7OnRUaYEojMk2Lxlo8Z3GNNrY+K9jE/Kb1JFVflcygwDAy19zMlGW5+nzaNF=true
o+ktEQcb/mqPSdiv0R9Ew1n3pubXZ+8T5pLPkxm66l43B+7/JQKCAQEA4aV0mYwG=true
nK80caJEpBSky0m7QhXuUNmkEYKQ4jIsuLdexOALwTOqqAIp/j00rIQVsgbpDxbi=true
KRl2lgIRd/vWq1p7gvdEl1n1G+qCgTYIT3XCfU2zQm5S1nOt6OZKVlG5T4v51kIo=true
B8oniDTCPL29NzFYkO4iInETM7ji7E9om2D/lSAo8/NvHoAjqjAhEjvu9hqyQzmU=true
lu/VUAFXYP099j8zt3JL1AryjdjsQS60vLzGZYes5XPFtNXDztj4Y3H8avU5Qeo7=true
zV+xn2Cv6SZlHCKbqXdU31bWO+5oBSREKsSJBPhJrzG6iNeAUr5VrtbCfQtjU5fJ=true
b+adHeDoXXCHEwKCAQEAxXBTzvOMm4Sq8WILOTlmpKNQxjQw0UCdm60+A5KSPt4Z=true
ZOQh51efH6f7GN44saD7TAoBwLyyBGIpeiet7Z5UPfEx+6bWjKJqCDl1usCAJL1g=true
MjKkQGoMUGHyPCkAzulk35hrYkqshYL/3fPZ1PTa+ne0grPKl1bmBgorIOUdmCxg=true
NWDuDmGTom795gFfz5Js5I2aLaIfKWOWBo1yHLYmWoJ5LShoxtewf+3uZkJegFh1=true
kbk2TSv9P88j+YD2hSQ/XjLyxbHY+C65buWj70fu90mwtFC1GV28svvVsszJ3VXn=true
r4jh8DLoLKaOX8K0HBG6WMn++6m5He7AlEiQGL4jIwKCAQEAs34N9mZwjArCyPGv=true
cGYLgLox/yu62w2FeXhHD+ehs34KIMmoEBOtWN//z4GYePLI30in85zcYp0iu8kB=true
ZFQsOzpKra9MHKkuVPqCvY3hpnOiNlKsmddwha6XVIB7+ZYgtqo+HrWZajjgoXR2=true
XiMAdPsH3KHQ/Vy9TZNwz1GLgK30IQfoC8ZFShncRPDsHbkXKSWrT9Zp4Hb/VBj9=true
DOXleBBmbzK4JwBeWX+Iz4D7vHbdyr3WRt+FEYhJrizhyRlPFTXkSg6ta30HqiQb=true
SneETpEpCfEmzlIhMKNAk3Z50xtrc0yeMIJ6Q4hJR4ioV9/17co1RLWlQyJLMQ1L=true
SajNiQKCAQBfQmbtPszkbAoeFHPd1DgVz0Y1mxDCpS5l4hw9lQZClt4hs4A4IiqA=true
F4gq42zvJwCYG2vlFiW9v67LZUGhl/aFPE4lYMW7bNFDzpVi2WX6U/SJw61D9uai=true
Ed/R7uaY7jrhNqT485ZxhFb3O6Qp/0l39zF8rkpc4mxxFY7hfCnfNenlVzMEdUfJ=true
40tVIeycNcWcMEXnJoVqbsX/u1cHS0sN+E2G4CxNY9ugnaecZwE5Y3S2LmpoqYSy=true
uLpesz491tNMG8DOaZSJieGmA94ooMhHP6KmHRqDdpqIsMDWV8A9rijupFh+j9E9=true
Wc7vnP1RXaxPEoaX3beXHY6E/M2pYnOJAoIBAQCobxCeTBIC7U75zb1PLvDcNr1Q=true
ec/FGc/FjSE4wjlh5E3ncGDmC5qfP2UmrBvW67w01KHZvVGWuYoDEXfbqYHiTznk=true
82KDEXxl3k5tbBhbFxheRIFd9xG3EUcvlhYAFelWmXTqcqqRbQjQYA7z5kR8EnPH=true
PGgA7YTJ79oqvIIyYOiRZJNP1cxZkin/cZ8gUhyW8l6wKM+pFbixYd9nIOmMPdnM=true
6MaEEJoQaeqGi63EP1o0gp6uso5KWEaKraXyLhGj9D+7SCJYD5CJtPQaS8b6+YP/=true
E0Ljol2tqAeijAPH9xQWCx64Tm1My9EXb0f27C/EqAsbd7MitBYhCWrrGAfr=true
-----END RSA PRIVATE KEY-----=true
//npm.pkg.github.com/:_authToken=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
@AliefAkram:registry=https://npm.pkg.github.com/
oython=/path/to/executtable/phthon2.7.15
prefix=C:\Users\Alief Computer\.npm-global
python=/path/to/executable/python2.7.15
